.main-content {
    margin-left: var(--sidebar-width);
    margin-top: var(--navbar-height);
    padding: 30px;
    min-height: calc(100vh - var(--navbar-height));
}

.page-header {
    margin-bottom: 30px;
}

.page-header h1 {
    color: var(--dark-coffee);
    font-size: 28px;
    font-weight: 600;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
}
